<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PuntoNemo</title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- estandarizar visualización en navegadores-->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- iconos de Google -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
  <!--encabezamiento-->
  <%- include('./partials/header') %>
    <!--fin del encabezamiento-->
    <!--inicio del carrousel-->
    <%- include('./partials/carrousel') %>
      <!--fin del carrousel-->
      <main>
        <div class="mainPhrase">
          <h2>Elegí tu próximo destino</h2>
          <h1>en Punto Nemo nos encargamos del resto</h1>
        </div>
        <section class="mainViajes">
          <a href="/productDetail">
            <article class="viaje">
              <img src="/images/img-0101.jpg">
              <div class="viajeDetalle">
                <p class="destinoNombre">Isla Grande</p>
                <p class="destinoLugar">Brasil</p>
                <p class="destinoDuracion">7 días / 5 noches</p>
              </div>
            </article>
          </a>
          <a href="/productDetail">
            <article class="viaje">
              <img src="/images/img-0102.jpg">
              <div class="viajeDetalle">
                <p class="destinoNombre">Purmamarca</p>
                <p class="destinoLugar">Jujuy, Argentina</p>
                <p class="destinoDuracion">7 días / 5 noches</p>
              </div>
            </article>
          </a>
          <a href="/productDetail">
            <article class="viaje">
              <img src="/images/img-0103.jpg">
              <div class="viajeDetalle">
                <p class="destinoNombre">Buenos Aires</p>
                <p class="destinoLugar">Argentina</p>
                <p class="destinoDuracion">7 días / 5 noches</p>
              </div>
            </article>
          </a>
          <a href="/productDetail">
            <article class="viaje">
              <img src="/images/img-0104.jpg">
              <div class="viajeDetalle">
                <p class="destinoNombre">Parque Tayrona</p>
                <p class="destinoLugar">Santa Marta, Colombia</p>
                <p class="destinoDuracion">7 días / 5 noches</p>
              </div>
            </article>
          </a>
          <a href="/productDetail">
            <article class="viaje">
              <img src="/images/img-0105.jpg">
              <div class="viajeDetalle">
                <p class="destinoNombre">La Valeta</p>
                <p class="destinoLugar">Malta</p>
                <p class="destinoDuracion">7 días / 5 noches</p>
              </div>
            </article>
          </a>
          <a href="/productDetail">
            <article class="viaje">
              <img src="/images/img-0106.jpg">
              <div class="viajeDetalle">
                <p class="destinoNombre">Isla Lord Howe</p>
                <p class="destinoLugar">Australia</p>
                <p class="destinoDuracion">7 días / 5 noches</p>
              </div>
            </article>
          </a>
        </section>
      </main>

      <%- include('./partials/footer') %>


</body>

</html>