<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <title>Login</title>
</head>
<body class="login-body">
    <header>
        <div class="topLogo">
          <a href="/">
            <img src="/images/PuntoNemoLogoHorizontal.svg"></a>
        </div>
        <div class="containerBarra">
          <div class="navBar">
            <ul>
              <li><a href="#">Destinos <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Paquetes <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Próximas salidas <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Quiénes somos <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Contacto <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
            </ul>
          </div>
          <div class="headerBusquedaBotones">
            <span class="burgerMenu">
              <button class="material-symbols-outlined" type="submit">menu</button>
            </span>
            <form action="#" method="GET">
              <input type="text" name="buscar" placeholder="Buscar viajes y destinos" class="input" id="buscar">
              <button class="material-symbols-outlined" type="submit">search</button>
            </form>
            <a href="login">
              <button class="material-symbols-outlined">login</button></a>
            <a href="/productCart">
              <button class="material-symbols-outlined">shopping_cart</button></a>
          </div>
    
        </div>
      </header>

    <main class="main-login">
        <section class="left-main">
            <img class= "logo-cuadrado" src="/images/PuntoNemoLogoCuadrado.svg" alt="Logo Punto Nemo">
        </section>
        <section class="rigth-main">
            <form action="/login" method="POST">
                <h1 class="titulo-login">Ingresá a tu cuenta</h1>
                <input class="forms" type="text" name="email" placeholder="Correo electronico" required>
                <input class="forms" type="password" name="contraseña" placeholder="Contraseña" required>
                <button class="boton-ingresar"type="submit">Ingresar</button>
                <p class="boton-nueva-cuenta"><a href="#">Crear nueva cuenta</a></p>
            </form>
        </section>
        
    </main>

    <footer>
        <div class="footerLinksInternos">
          <ul>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Consejos para viajeros</a></li>
            <li><a href="#">Asistencia médica</a></li>
            <li><a href="#">Seguros de viaje</a></li>
            <li><a href="#">Política de privacidad</a></li>
        </ul>
        </div>
        <div class="footerLinksExternos">
          <ul>
            <li><a href="https://www.argentina.tur.ar/#!/ar/home">Argentina Turismo</a></li>
            <li><a href="https://previaje.gob.ar">Previaje</a></li>
            <li><a href="#https://www.argentina.travel/es/page/terms-and-conditions?menu=places">Visit Argentina</a></li>
            <li><a href="https://www.assistcard.com/ar?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPIalc4Nmd9RI3HkI-qZUNzsi0B14MTmgbc2XBI5ssTmnYzKRUqfx68aAkufEALw_wcB">Assist Card</a></li>
            <li><a href="https://traveler-assistance.com/?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPLyvd4lvxFluTPhHP6YOJlMBS7W7JHJh2iGeeg1JLsS_PlWBoMfywMaAu6TEALw_wcB">Traveller assistance</a></li>
        </ul>
        </div>
        <div class="logoFooter">
          <a href="/">
            <img src="/images/PuntoNemoLogoCuadradoBlanco.svg">
          </a>
        </div>
      </footer>
</body>
</html>