<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <h1> Carrito de compras </h1>
    </header>

    <nav>
        <a href="#">Destinos </a>
        <a href="#">Paquetes</a>
        <a href="#">Próximas salidas</a>
        <a href="#">Quiénes somos</a>
        <a href="#">Contacto</a>
    </nav>

    <div class="row">
        <aside>
            <h2> Aside </h2>
        </aside>
        <section>
            <h2>Section</h2>
        </section>
    </div>

    <footer>
        <h2> Footer </h2>
    </footer>
</body>

</html>