<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PuntoNemo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- estandarizar visualización en navegadores-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- iconos de Google -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="topLogo">
          <a href="/">
            <img src="/images/PuntoNemoLogoHorizontal.svg"></a>
        </div>
        <div class="containerBarra">
          <div class="navBar">
            <ul>
              <li><a href="#">Destinos <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Paquetes <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Próximas salidas <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Quiénes somos <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
              <li><a href="#">Contacto <span class="material-symbols-outlined">
                    arrow_drop_down</a></li></span>
            </ul>
          </div>
          <div class="headerBusquedaBotones">
            <span class="burgerMenu">
              <button class="material-symbols-outlined" type="submit">menu</button>
            </span>
            <form action="#" method="GET">
              <input type="text" name="buscar" placeholder="Buscar viajes y destinos" class="input" id="buscar">
              <button class="material-symbols-outlined" type="submit">search</button>
            </form>
            <a href="login">
              <button class="material-symbols-outlined">login</button></a>
            <a href="/productCart">
              <button class="material-symbols-outlined">shopping_cart</button></a>
          </div>
    
        </div>
      </header>

    <div class="informacion">
        <h1> ISLA GRANDE BRASIL - 7 Días / 5 Noches </h1>
    </div>

    <div class = "imagen-islas"> <img src = "/images/islas.jpg"> </div> 

    <div class="tabla-de-informacion">
        <table>
            <thead>
                <tr>
                    <th>Tarifa neta</th>
                    <th>Cargos administrativos</th>
                    <th>Impuestos</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>U$D 1200</td>
                    <td>U$D 5</td>
                    <td>U$D 200</td>
                    <td>U$D 1405</td>

                </tr>
            </tbody>
        </table>

    </div>







    <div class="fecha salida">
        <h3>Fecha de salida</h3>
        <input type="date" name="edad" min='1900-01-01' max="2010-01-01" class="control">
    </div>
    <button type="reset" class="boton-eliminar-destino">Borrar</button>
    <div class="control-formulario">
        <h3>Forma de pago</h3>
        <label class="radio"><input type="radio" name="perfil"></input>Efectivo</label>
        <label class="radio"><input type="radio" name="perfil"></input>Tarjeta</label>
        <label class="radio"><input type="radio" name="perfil"></input>Transferencia bancaria</label>
    </div>

    <button type="submit" class="boton-pagar">Continuar con el pago</button>


    </form>

    <footer>
        <div class="footerLinksInternos">
          <ul>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Consejos para viajeros</a></li>
            <li><a href="#">Asistencia médica</a></li>
            <li><a href="#">Seguros de viaje</a></li>
            <li><a href="#">Política de privacidad</a></li>
        </ul>
        </div>
        <div class="footerLinksExternos">
          <ul>
            <li><a href="https://www.argentina.tur.ar/#!/ar/home">Argentina Turismo</a></li>
            <li><a href="https://previaje.gob.ar">Previaje</a></li>
            <li><a href="#https://www.argentina.travel/es/page/terms-and-conditions?menu=places">Visit Argentina</a></li>
            <li><a href="https://www.assistcard.com/ar?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPIalc4Nmd9RI3HkI-qZUNzsi0B14MTmgbc2XBI5ssTmnYzKRUqfx68aAkufEALw_wcB">Assist Card</a></li>
            <li><a href="https://traveler-assistance.com/?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPLyvd4lvxFluTPhHP6YOJlMBS7W7JHJh2iGeeg1JLsS_PlWBoMfywMaAu6TEALw_wcB">Traveller assistance</a></li>
        </ul>
        </div>
        <div class="logoFooter">
          <a href="/">
            <img src="/images/PuntoNemoLogoCuadradoBlanco.svg">
          </a>
        </div>
      </footer>
</body>

</html>