<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PuntoNemo detail</title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- estandarizar visualización en navegadores-->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- iconos de Google -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <!-- iconos de FontAwesome -->
  <script src="https://kit.fontawesome.com/0ffcf80e36.js" crossorigin="anonymous"></script> 

</head>

<body>
  <!--encabezamiento-->
  <%- include('./partials/header') %>
    <!--fin del encabezamiento-->
    <!--inicio del carrousel-->
    <%- include('./partials/carrousel') %>
      <!--fin del carrousel-->

      <div class="detalle-producto-informacionyprecio">
        <ul>
          <li>2 personas</li>
          <li>comida incluida</li>
          <li>traslados incluidos</li>
        </ul>
        <p class="precio-detalle-producto">$2300/persona</p>

      </div>

      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate ab enim sint autem modi ipsum cum
        debitis. Veritatis voluptate corrupti molestiae sunt, officiis qui ratione quaerat aut tempora labore.</p>

      </section>
      <a class="boton-comprar-detalle-producto" href="#">Comprar</a>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis delectus corporis beatae, ipsam sequi
          fugiat exercitationem necessitatibus quae tempora placeat nobis ipsum ex deserunt quam recusandae ab
          dignissimos error dolore?
          l</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, quasi, doloribus placeat, magni quis facilis
          maxime totam reprehenderit voluptatibus eos velit aspernatur harum ea aut consequatur numquam nisi? Eaque,
          animi.</p>
      </section>
      <section>
        <h3>Destinos Recomendados</h3>
        <div></div>
        <section class="mainViajes">
          <article class="viaje">
            <img src="/images/img-0101.jpg">
            <div class="viajeDetalle">
              <p class="destinoNombre">Isla Grande</p>
              <p class="destinoLugar">Brasil</p>
              <p class="destinoDuracion">7 días / 5 noches</p>
            </div>
          </article>
          <article class="viaje">
            <img src="/images/img-0102.jpg">
            <div class="viajeDetalle">
              <p class="destinoNombre">Isla Grande</p>
              <p class="destinoLugar">Brasil</p>
              <p class="destinoDuracion">7 días / 5 noches</p>
            </div>
          </article>
          <article class="viaje">
            <img src="/images/img-0103.jpg">
            <div class="viajeDetalle">
              <p class="destinoNombre">Isla Grande</p>
              <p class="destinoLugar">Brasil</p>
              <p class="destinoDuracion">7 días / 5 noches</p>
            </div>
          </article>
        </section>
        </div>
      </section>
      </main>
      <%- include('./partials/footer') %>

</body>

</html>