<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PuntoNemo</title>
  <!-- icono de pestaña-->
  <link rel = "icon" href = "\images\icon.png">
  <!-- estandarizar visualización en navegadores-->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- iconos de Google -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <!-- iconos de FontAwesome -->
  <script src="https://kit.fontawesome.com/0ffcf80e36.js" crossorigin="anonymous"></script> 
</head>

<body>
  <%- include('./partials/header') %>



    <section class="cuerpo-registro">
      <div class="conf-banner">
        <img class="banner-registro" src="images/Group-of-friends-registro.jpg" alt="banner registro">
        <img class="banner-registro2" src="images/group-of-friends-relaxing.jpg" alt="banner registro">
      </div>
      
      <main class="main-register">

        <section>
          <div class="introduccion-register">
            <h3>Bienvenido a</h3>
            <h2>Punto Nemo</h2>
            <p>Acá podrás agendar y organizar el viaje de tus sueños</p>
          </div>
          <form action="/users/register" method="POST" enctype="multipart/form-data">
            <h4>Crea tu Cuenta</h4>
            <div class="info-personal">
              <input type="text" name="nombre" placeholder="Nombre" class="input-register" minlength="4"
                required>
              <input type="text" name="apellido" placeholder="Apellido" class="input-register" minlength="4"
                required>
              <input type="text" name="usuario" placeholder="Nombre de usuario" class="input-register"
                minlength="4" required>
              <input type="email" name="email" placeholder="Email" class="input-register" required>
              <input type="text" name="domicilio" placeholder="Domicilio" class="input-register" required>
            </div>
            <h4>Imagen de perfil</h4>
            <div>
              <input type="file" name="userImagen" class="input-register" required>
            </div>
            <h4>Fecha de Nacimiento</h4>
            <div class="fecha-nacimiento">
              <input type="date" name="fechaNacimiento" class="input-register" id="fechaNacimiento" required>
            </div>
            <h4>Perfil Viajero:</h4>
            <div class="perfil-viajero">
              <div>
                <input type="checkbox" name="categoria" value="familiar" class="categoriasRegister" id="familiar">
                <label for="familiar">Familiar</label>
              </div>
              <div>
                <input type="checkbox" name="categoria" value="aventurero" class="categoriasRegister"
                  id="aventurero">
                <label for="aventurero">Aventurero</label>
              </div>
              <div>
                <input type="checkbox" name="categoria" value="Lujoso" class="categoriasRegister" id="Lujoso">
                <label for="Lujoso">Lujoso</label>
              </div>
              <div>
                <input type="checkbox" name="categoria" value="cultural" class="categoriasRegister" id="cultural">
                <label for="cultural">Cultural</label>
              </div>
            </div>
            <h4>Crea una Contraseña</h4>
            <div class="contraseña">
              <input type="password" name="password" placeholder="Password" class="input-register" minlength="6"
                required>
              <input type="password" name="password" placeholder="Confirm Password" class="input-register" minlength="6"
                required>
            </div>
            <button type="submit" class="enviar-registro">Registrate Ahora</button>
            <br>
          </form>
          <section></section>
          <p class="sin-registro">¿Quieres reservar un viaje sin crear una cuenta?<a href="#"> Haz clic aquí</a></p>
          <div class="derechos-register">
            <p>Copyrights 2022.</p>
            <p>Todos los derechos reservados.</p>
          </div>
        </section>
      </main>
    </section>
    <%- include('./partials/footer') %>


</body>

</html>