<footer class="mt-5 py-5">
  <div class="row container mx-auto pt-2"> </div>
  <div class="row">
    <div class="footer-one col-lg-3 col-md-6 col-12">
      <img src="\images\PuntoNemoLogoCuadrado.svg" alt="">
    </div>
    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
      <h5 class="pb-2">Información</h5>
      <ul class="text-uppercase list-unstyled">
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Consejos para viajeros</a></li>
        <li><a href="#">Asistencia médica</a></li>
        <li><a href="#">Seguros de viaje</a></li>
        <li><a href="#">Política de privacidad</a></li>
        </li>
      </ul>
    </div>

    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
      <h5 class="pb-2">Contacto</h5>
      <div>
        <h6 class="text-uppercase">Direccion</h6>
        <p> CALLE FALSA 123 - ARG , BS AS</p>
      </div>
      <div>
        <h6 class="text-uppercase">Celular</h6>
        <p> +54 011 76896652</p>
      </div>
      <div>
        <h6 class="text-uppercase">Email</h6>
        <p>PUNTONEMO@GMAIL.COM</p>
      </div>
    </div>

    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
      <h5 class="pb-2">Páginas útiles</h5>
      <ul class="text-uppercase list-unstyled">
        <li><a href="https://www.argentina.tur.ar/#!/ar/home">Argentina Turismo</a></li>
        <li><a href="https://previaje.gob.ar">Previaje</a></li>
        <li><a href="#https://www.argentina.travel/es/page/terms-and-conditions?menu=places">Visit Argentina</a></li>
        <li><a
            href="https://www.assistcard.com/ar?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPIalc4Nmd9RI3HkI-qZUNzsi0B14MTmgbc2XBI5ssTmnYzKRUqfx68aAkufEALw_wcB">Assist
            Card</a></li>
        <li><a
            href="https://traveler-assistance.com/?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPLyvd4lvxFluTPhHP6YOJlMBS7W7JHJh2iGeeg1JLsS_PlWBoMfywMaAu6TEALw_wcB">Traveller
            assistance</a></li>
        </li>
      </ul>
    </div>


    <div class="copyright mt-5">
      <div class="row container mx-auto">
        
<!--AGREGAR LOGO TARJETAS-->
        <div class="col-lg-3 col-md-6 col-12 mb-4">
          <img src="" alt="">
        </div>
        <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
          <p>PuntoNemo eCommerce © 2022. Todos los derechos reservados</p>
        </div>
        <!--AGREGAR LOGOS DE REDES-->
        <div class="col-lg-4 col-md-6 col-12">
          <a href="#"><i class="fab fa-facebook"></i></a> 
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      
    </div>


</footer>