<footer>
  <div class="footerLinksInternos">
    <ul>
      <li><a href="#">Preguntas frecuentes</a></li>
      <li><a href="#">Consejos para viajeros</a></li>
      <li><a href="#">Asistencia médica</a></li>
      <li><a href="#">Seguros de viaje</a></li>
      <li><a href="#">Política de privacidad</a></li>
    </ul>
  </div>
  <div class="footerLinksExternos">
    <ul>
      <li><a href="https://www.argentina.tur.ar/#!/ar/home">Argentina Turismo</a></li>
      <li><a href="https://previaje.gob.ar">Previaje</a></li>
      <li><a href="#https://www.argentina.travel/es/page/terms-and-conditions?menu=places">Visit Argentina</a></li>
      <li><a
          href="https://www.assistcard.com/ar?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPIalc4Nmd9RI3HkI-qZUNzsi0B14MTmgbc2XBI5ssTmnYzKRUqfx68aAkufEALw_wcB">Assist
          Card</a></li>
      <li><a
          href="https://traveler-assistance.com/?gclid=Cj0KCQjw1bqZBhDXARIsANTjCPLyvd4lvxFluTPhHP6YOJlMBS7W7JHJh2iGeeg1JLsS_PlWBoMfywMaAu6TEALw_wcB">Traveller
          assistance</a></li>
    </ul>
  </div>
  <div class="logoFooter">
    <a href="/">
      <img src="/images/PuntoNemoLogoCuadradoBlanco.svg">
    </a>
  </div>
</footer>